<app-header (sidenavToggle)="onToolbarMenuToggle()"></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
        <app-sidebar></app-sidebar>
   <div class="last ">
<img src="../../../../assets/image/ccc.png" height="35"  width="80%">
   </div>
    </mat-sidenav>
    <mat-sidenav-content #side  [ngStyle]="{ 'margin-left.px': contentMargin }">

        <main #main>

            <router-outlet>
            </router-outlet>

            <app-footer></app-footer>

        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner type="timer">
  <h5>Loading</h5>
</ngx-spinner>
