
<mat-toolbar class="sub-header">
    <div class="search-div" fxLayout="row">
       
        <a  mat-button class="header-tag mr-2" routerLink="/searchserial">
             <img src="../../../assets/image/searc-eng-icon.png"> 
             Search Serial
        </a>
       
        <a  mat-button class="header-tag mr-2 sub-active " routerLink="/evaluatorstatistic" > 
            <img src="../../../assets/image/evaulator-static-icon.png"> 
           Evaluator Statistic
        </a> 
        <a  mat-button class="header-tag" routerLink="/searchunid">
            <img src="../../../assets/image/search-evaulate-icon.png"> 
            Search UNI-ID
        </a> 
    
    </div>
</mat-toolbar>



<!--  ------main----------------- -->


<mat-card class="example-card">

    <div class="caption"><span> Evaluator Statistic</span></div>

    <div class="mt-5">
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile>

                <div class="controles-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Agents</mat-label>
                        <mat-select>
                            <mat-option value="value1">
                                option 1
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                </div>
            </mat-grid-tile>

            <mat-grid-tile>

                <div class="controles-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput type="date">
                        <mat-icon matSuffix>calender</mat-icon>
                    </mat-form-field>

                </div>
            </mat-grid-tile>
            <mat-grid-tile>

                <div class="controles-container">
                    <button mat-raised-button class="sub" color="warn">Submit</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>


    </div>



</mat-card>