<mat-toolbar class="sub-header">
    <div class="search-div" fxLayout="row">

        <a mat-button class="header-tag mr-2" routerLink="/searchserial">
            <img src="../../../assets/image/searc-eng-icon.png">
            Search Serial
        </a>

        <a mat-button class="header-tag mr-2 " routerLink="/evaluatorstatistic">
            <img src="../../../assets/image/evaulator-static-icon.png">
            Evaluator Statistic
        </a>
        <a mat-button class="header-tag" routerLink="/searchunid">
            <img src="../../../assets/image/search-evaulate-icon.png">
            Search UNI-ID
        </a>

    </div>
</mat-toolbar>

<!--  ------main----------------- -->
<mat-card class="example-card" style="padding-bottom: 30px !important;">
    <div class="caption"><span>View Pending</span></div>

    <div class="mt-5">
        <mat-accordion>
            <mat-expansion-panel expanded="0" opened="true" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-3">engineering</mat-icon> Engineer Details

                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>

                        <div class="controles-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Serial</mat-label>
                                <input matInput>
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>Eng.Name</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Supervisor</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>ID</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>

                        <div class="controles-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Department</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Section</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-3">supervisor_account</mat-icon>
                        Customer Details

                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>

                        <div class="controles-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Cust.Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Contact Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Login</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label> Ticket ID</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Transaction unvid</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>

                        <div class="controles-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Call Date</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Call Time</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Call Duration</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Monitoring Type</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Monitor Rep</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-3">details</mat-icon>
                        Details
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="row mt-5">

                    <div class="col-12"></div>
                    <div class="col-6">
                        <div class="critical-comment m-3 " style="position: relative;">
                            <div class="captionComment"><span>Total Result</span></div>
                            <div class="shadow pt-5 pb-2 px-4 ">

                                  <table class="w-100 mt-3  table table-striped  table-sm">
                                    <tr>
                                        <th> 
                                            Number of Non Fatal error </th>
                                        <td> 8</td>
                                        </tr>
                                    <tr>
                                        <th> Number of Fatal error </th>
                                        <td> 5 </td>
                                        </tr>
                                    <tr>
                                        <th>Transaction results</th>
                                        <td> pass </td>
                                    </tr>
                                    <tr>
                                        <th> % of Non-Fatal accuracy </th>
                                        <td> 88 </td>
                                    </tr>
                                    <tr>
                                        <th> % of Fatal accuracy </th>
                                        <td> 100</td>
                                    </tr>
                                
                                  </table>




                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="critical-comment m-3 " style="position: relative;">
                            <div class="captionComment"><span>Critical Comment </span></div>
                            <div class="shadow py-5 px-4 ">

                                <mat-form-field class="w-100 mt-2 mb-5" appearance="outline">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput placeholder="Type your comment Here..." rows="7"></textarea>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 text-right pr-4">
                        <button mat-raised-button class=" text-white mt-2 w-25 mr-2" color="success">Approved</button>
                        <button mat-raised-button class=" mt-2 w-25" color="warn">Reject</button>
                    </div>

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>






</mat-card>