
<mat-toolbar class="sub-header">
    <div class="search-div" fxLayout="row">
       
        <a  mat-button class="header-tag mr-2 sub-active" routerLink="/searchserial">
             <img src="../../../assets/image/searc-eng-icon.png"> 
             Search Serial 
        </a>
       
        <a  mat-button class="header-tag mr-2 " routerLink="/evaluatorstatistic" > 
            <img src="../../../assets/image/evaulator-static-icon.png"> 
           Evaluator Statistic
        </a> 
        <a  mat-button class="header-tag" routerLink="/searchunid">
            <img src="../../../assets/image/search-evaulate-icon.png"> 
            Search UNI-ID
        </a> 
    
    </div>
</mat-toolbar>

<!--  ------main----------------- -->



<mat-card class="example-card" style="padding-bottom: 50px !important;">
    <div class="caption">
        <span>Search Serial</span></div>
    
    <div class="my-3 py-3 shadow" fxLayout="row">
    <div class="w-25 text-right pt-2">
        <img src="../../../assets/image/searc-eng-icon.png" width="40" height="40">
      
    </div>
    <div class="field w-100 px-2">
        <mat-form-field appearance="outline" class="w-50">
            <mat-label>Enter Serial</mat-label>
            <input matInput>
          </mat-form-field>
         
            <button mat-raised-button class="w-25 ml-1 serc" color="warn">Search</button>
        
         
    </div>
    </div>
      <mat-accordion>
        <mat-expansion-panel class="shadow"  expanded="0" opened="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="mr-3">engineering</mat-icon>  Engineer Details
            
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
              
          <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>Serial</mat-label>
            <input matInput>
          </mat-form-field>
        
      
          <mat-form-field appearance="outline">
            <mat-label>Eng.Name</mat-label>
            <input matInput>
          </mat-form-field>
         
          <mat-form-field appearance="outline">
            <mat-label>Supervisor</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput>
          </mat-form-field>
          </div>
          </mat-grid-tile>
          <mat-grid-tile>
              
            <div class="controles-container">
              <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <input matInput>
              </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Section</mat-label>
            <input matInput>
          </mat-form-field>
      </div>
      </mat-grid-tile>
      </mat-grid-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="shadow">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="mr-3">supervisor_account</mat-icon>
             Customer Details
            
            </mat-panel-title>
           
          </mat-expansion-panel-header>
          <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
              
          <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>Cust.Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contact Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label> Ticket ID</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Transaction unvid</mat-label>
            <input matInput>
          </mat-form-field>
          </div>
          </mat-grid-tile>
        
            <mat-grid-tile>
              
          <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>Call Date</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Call Time</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Call Duration</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Monitoring Type</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Monitor Rep</mat-label>
            <input matInput>
          </mat-form-field>
          </div>
          </mat-grid-tile>
          </mat-grid-list>
        </mat-expansion-panel>
      
        <mat-expansion-panel class="shadow">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="mr-3">details</mat-icon>
             Details   
            </mat-panel-title>
          
         
          </mat-expansion-panel-header>
      
         
        </mat-expansion-panel>
      </mat-accordion>
</mat-card>


<!-- <mat-card class="example-card">
  
    <div class="caption"><span>Details</span></div>
    
    <div class=" mt-5" fxLayout="row">
        
    </div>
    
    
 
    </mat-card> -->
