<!-- <mat-toolbar>
    <mat-icon id="trash">delete_forever</mat-icon>
    <span class="">Delete</span>
    <button  class="btn-dialog-close"  (click)="onClose()" id="close-icon" >
        <mat-icon>clear</mat-icon></button> 
  
   </mat-toolbar>  -->
<div>
   
    <div class="content-container">
        <button mat-mini-fab  >
            <mat-icon>delete_forever</mat-icon>
          </button>
       <span class="content-span full-width">
       Are you sure you want to delete this Record ?
 
        </span>
        <mat-icon (click)="onClose()" color="warn" matTooltip="cancel">highlight_remove</mat-icon>
        <mat-icon (click)="onDelete()" class="text-success" matTooltip="yes">check_circle</mat-icon>
       
    </div>
   
</div>
