.btn-dialog-close{
    width: 25px;
    min-width: 0px !important;
    height: 25px;
    padding: 0px !important;
    background-color: transparent;
   
    line-height: 1;
  }
  /* .cdk-global-overlay-wrapper  .cdk-overlay-pane.confirm-dialog-container{
    position: absolute !important;
    top:20px !important;
} */
mat-toolbar{
  height: 45px;
  background-color: #cad1d3;
  color:#011924 !important;

}
span{
  padding-left: 10px;
  font-family: 'Electrolize', sans-serif;
  font-weight: 800;
}
#trash{
  color: #ca0e0e !important;
  font-size: 25px;
}
.del {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(230, 187, 187)
  ;
  text-align: center;
  line-height: 1;
}
.mat-mini-fab{
  background-color: #ca0e0e ;
  position: absolute;
    left: 41.5%;
    top: 16%;
  
}
.text-success{
  color: #2ac020;
}
mat-icon{
  vertical-align: bottom;
}